<h1>Contact Me</h1>
<p>You can reach me in the following places</p>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">
  	<a href="mailto:jordanmichaels#gmail.com" target="_blank">Email</a>
  </button>
  <button type="button" class="btn btn-default">
		<a href="http://www.twitter.com/jordanmichaels" target="_blank">Twitter</a>
  </button>
  <button type="button" class="btn btn-default">
  	<a href="https://www.linkedin.com/in/jordanhmichaels" target="_blank">LinkedIn</a>
  </button>
  <button type="button" class="btn btn-default">
  	<a href="https://instagram.com/jordanhmichaels/" target="_blank">Instagram</a>
  </button>
</div>